/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  margin: 0;
  padding: 0;
  background-color: #376184;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility; }

body,
input,
button {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

p {
  margin-bottom: 1em; }

ul, ol {
  margin-top: 1em;
  margin-bottom: 1.5em; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

ul {
  padding-left: 20px; }

.mark {
  background-color: red; }

.site-title {
  font-size: 2em; }

.site-byline {
  font-style: italic; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #376184;
  color: #000; }

a, a:visited {
  color: inherit;
  border-bottom: 2px solid;
  text-decoration: none; }

a:hover, a:focus {
  opacity: .7; }

.site-header a, .site-footer a, .site-nav a {
  color: #fff;
  border-bottom: 0; }

.site-header, .site-footer, .main-content {
  max-width: 40em;
  margin: 2em auto; }

.site-header, .site-footer {
  color: #FFF;
  text-align: center;
  padding: 1em; }

.main-content {
  max-width: 60em;
  padding: 1em;
  background-color: #FFF; }

.site-nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 2.75em;
  background: #376184;
  text-align: center;
  font-size: 0.83em;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: .025em; }
  .site-nav a {
    display: inline-block;
    padding: .5em 1em;
    border: 0; }

.icon svg {
  width: 28px; }

.sidebyside {
  display: block;
  position: relative; }
  .sidebyside:before {
    content: ' ';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: #f0f0f0;
    display: block;
    z-index: 0; }
  .sidebyside .description {
    width: 50%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .sidebyside .highlight {
    width: 49%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    height: 100%;
    z-index: 1;
    position: relative; }
  .sidebyside .highlight pre {
    margin: 0; }

@media screen and (min-width: 25em) {
  .site-header, .site-footer {
    padding: 2em 2em; }

  .main-content {
    padding: 2em 2em; } }
@media screen and (min-width: 42.5em) {
  .site-header, .site-footer {
    padding: 2em 3em; }

  .main-content {
    padding: 2em 3em; } }
