* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #376184;
  color: @color_white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header {
  padding: 0 1em;
}
@media screen and (min-width: 25em) {
  header {
    padding: 0 2em;
  }
}
@media screen and (min-width: 42.5em) {
  header {
    padding: 0;
  }
}
.wrap {
  background-color: #FFF;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}
@media screen and (min-width: 25em) {
  .wrap {
    padding: 2.5em;
  }
}
header, footer {
  max-width: 40em;
  margin: 2em auto;
  text-align: center;
  color: #FFF;
}
h2 {
  line-height: 1.3;
}
a {
  color: #376184;
}
footer a {
  color: #fff;
}
ul {
  padding-left: 20px;
}