* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #376184;
  color: @color_white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header {
  padding: 0 1em;
}
@media screen and (min-width: 25em) {
  header {
    padding: 0 2em;
  }
}
@media screen and (min-width: 42.5em) {
  header {
    padding: 0;
  }
}
.wrap {
  background-color: #FFF;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
}
@media screen and (min-width: 25em) {
  .wrap {
    padding: 2.5em;
  }
}
header, footer {
  max-width: 40em;
  margin: 2em auto;
  text-align: center;
  color: #FFF;
}
h2 {
  line-height: 1.3;
}
a {
  color: #376184;
}
footer a {
  color: #fff;
}
ul {
  padding-left: 20px;
}

.sidebyside {
  display: block;
  position: relative;
}
.sidebyside:before {
  content: ' ';
  position: absolute;
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: #f0f0f0;
  display: block;
  z-index: 0;
}
.sidebyside .description {
  width: 50%;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  position: relative;
}
.sidebyside .highlight {
  width: 49%;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  height: 100%;
  z-index: 1;
  position: relative;
}
.sidebyside .highlight pre {
  margin: 0;
}
