<nav class="site-nav">
  {% for page in site.pages %}
    {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
</nav>
  
<header class="site-header">
  
  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <p class="site-byline">
    presented by <a href="http://2014.cssconf.eu/">CSSconf EU</a> and <a href="http://www.opentechschool.org/">OpenTechSchool</a>
  </p>
  <p>
    {{ site.description }}
  </p>

</header>
