
.challenge {
  clear: both;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $color_teal;
}

.example {
  float: right;
  margin: 0 1em 1em 2em;
}

.dotted_circle {
  width: 80px;
  height: 80px;
  border: 4px dotted $color_red;
  border-radius: 50%;
}

.fancy_link {
  display: block;
  margin-top: 2.5em;
  padding: 2px 15px;
  border-radius: 15px;
  background: $color_blue;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  &:hover {
    background: $color_red;
  }
}

.polaroid {
  padding: 12px 12px 32px;
  background: #FFF;
  box-shadow: 5px 5px 10px black;
  img {
    max-width: 140px;
    height: auto;
    margin: 0;
  }
}

.galaxy {
  width: 80px;
  height: 80px;
  border: 2px solid $color_teal;
  position: relative;
  border-radius: 100%;
  .rotation_axis {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 0;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-animation: rotating_star 2.5s linear infinite;
            animation: rotating_star 2.5s linear infinite;
  }
  .sun, .star {
    border-radius: 100%;
    position: absolute;
  }
  .sun {
    width: 16px;
    height: 16px;
    left: -8px;
    top: -8px;
    background: $color_yellow;
  }
  .star {
    width: 10px;
    height: 10px;
    background: $color_dark_blue;
    right: -5px;
    top: -3px;
  }
}

@-webkit-keyframes rotating_star { from { -webkit-transform: rotate(0) } to { -webkit-transform: rotate(-360deg) } }
@keyframes rotating_star { from { transform: rotate(0) } to { transform: rotate(-360deg) } }


.smiley {
  width: 80px;
  height: 80px;
  border: 2px solid $color_black;
  background-color: $color_yellow;
  position: relative;
  border-radius: 100%;
  .lefteye, .righteye {
    position: absolute;
    top: 20px;
    width: 5px;
    height: 5px;
    background-color: $color_black;
    border-radius: 100%;
  }
  .lefteye {
    left: 25px;
  }
  .righteye {
    right: 25px;
  }
  .mouth {
    position: absolute;
    width: 40px;
    height: 0;
    left: 20px;
    bottom: 25px;
    border-bottom: 2px solid $color_black;
    transition: all 1s;
  }
  &:hover .mouth {
    height: 20px;
    border-radius: 50%;
  }
}

.laserpointer {
  position: relative;
  width: 200px;
  height: 200px;
}
.laserpointer-topleft,
.laserpointer-topright,
.laserpointer-bottomleft,
.laserpointer-bottomright {
  position: absolute;
  width: 100px;
  height: 100px;
}
.laserpointer-topleft {
  top: 0;
  left: 0;
  background-color: #f3f3f3;
}
.laserpointer-topright {
  top: 0;
  right: 0;
}
.laserpointer-bottomleft {
  bottom: 0;
  left: 0;
}
.laserpointer-bottomright {
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
}
.laserpointer-point {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.2s all;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: red;
}
.laserpointer-topleft:hover ~ .laserpointer-point {
  transform: translateX(120px) translateY(130px);
}
.laserpointer-topright:hover ~ .laserpointer-point {
  transform: translateX(60px) translateY(180px);
}
.laserpointer-bottomleft:hover ~ .laserpointer-point {
  transform: translateX(30px) translateY(30px);
}
.laserpointer-bottomright:hover ~ .laserpointer-point {
  transform: translateX(150px) translateY(30px);
}


