.site-nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 42px;
  background: $color_dark_blue;
  text-align: center;
  font-size: 0.83em;
  z-index: 2;
  @include uppercase;
  a {
    display: inline-block;
    padding: .5em 1em;
    border: 0;
  }
  @media screen and (min-width: 42.5em) {
    min-height: none;
    padding: 7px 0;
  }
}

.lvwp {
  display: none;
}

.svwp {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  .svwp__wrap {
    display: none;
  }
  .page-link {
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .toggle {
    position: relative;
    padding-left: 1.25em;
    transition: all 400ms ease;
    outline: none;
    border: none;
    background: transparent;
    display: block;
    font-size: 30px;
    left: 7px;
    top: 3px;
    &:before {
      content: "";
      position: absolute;
      top: .25em;
      left: 0;
      width: 1em;
      height: 20px;
      border-bottom: 12px double #fff;
      border-top: 4px solid #fff;
    }
    &.expanded + .svwp__wrap .page-link:last-child {
      margin-bottom: 5px;
    }
  }
  .page-link {
    display: block;
  }
}

@media screen and (min-width: 42.5em) {
  .svwp {
    display: none;
  }
  .lvwp {
    display: block;
  }
}
