/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_reset";
@import "_vars";
@import "_pygments";
@import "_mixins";
@import "_typography";

*, :before, :after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: $color_blue;
  color: $color_text;
}

img {
  width: 100%;
}

// links
a, a:visited {
  color: $color_blue;
  border-bottom: 2px solid;
  text-decoration: none;
}
a:hover, a:focus {
  opacity: .7;
}
.site-header, .site-footer, .site-nav {
  a {
    color: $color_bg;
    border-bottom: 0;
  }
}

.site-byline {
  a {
    color: $color_yellow;
    border-bottom: 0;
  }
}

.button {
  display: inline-block;
  margin: 1em auto;
  padding: 1em 3em;
  @include uppercase;
  font-weight: bold;
  font-size: 1.17em;
  color: $color_bg;
  background-color: $color_red;
}

.site-header, .site-footer, .main-content {
  max-width: 36em;
  margin: 2em auto;
}
.site-header, .site-footer {
  color: #FFF;
  text-align: center;
  padding: 1em;
}

.footer-list {
  li {
    display: inline-block;
    list-style: none;
    a {
      padding: .5em 1em;
    }
  }
}

.end-note {
  background-color: $color_red;
  color: $color_bg;
  font-size: .83em;
  text-align: center;
  padding: .5em;
}

.main-content {
  max-width: 60em;
  padding: 1em;
  background-color: $color_bg;
  border-top: 10px solid $color_teal;
}

.site-nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 2.75em;
  background: $color_dark_blue;
  text-align: center;
  font-size: 0.83em;
  z-index: 2;
  @include uppercase;
  a {
    display: inline-block;
    padding: .5em 1em;
    border: 0;
  }
}


.icon {
  svg {
    width: 28px;
  }
}


// Code that gets displayed inline
code {
  background-color: #f0f0f0;
}
// highlight block for highlighted code blocks
.highlight {
  padding: 5px;
  background-color: #f0f0f0;
  pre {
    margin:0;
  }
}
// Commented code blocks, need proper styling
.sidebyside {
  display: block;
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: #f0f0f0;
    display: block;
    z-index: 0;
  }
  .description {
    width: 50%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .highlight {
    width: 49%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    height: 100%;
    z-index: 1;
    position: relative;
  }
  .highlight pre {
    margin: 0;
  }
}

@media screen and (min-width: 25em) {
  body {
    font-size: 16px;
  }
  .site-header, .site-footer {
    padding: 2em 2em;
  }
  .main-content {
    padding: 3em 2em;
  }
}
@media screen and (min-width: 42.5em) {
  .site-header, .site-footer {
    padding: 2em 3em;
  }
  .main-content {
    padding: 4em 5em;
  }
}

.list-wo-bullets {
  padding: 0;
  list-style: none;
}
