/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_vars";


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #376184;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header, footer, .main-content {
  max-width: 40em;
  margin: 2em auto;
}
header, footer {
  color: #FFF;
  text-align: center;
  padding: 1em;
}
.main-content {
  max-width: 60em;
  padding: 1em;
  background-color: #FFF;
}


// typography
h2 {
  line-height: 1.3;
}
header a, footer a {
  color: #fff;
}
ul {
  padding-left: 20px;
}

// links
a, a:link, a:visited {
  color: inherit;
  border-bottom: 2px solid;
  text-decoration: none;
}
a:hover, a:focus {
  opacity: .7;
}

.icon {
  svg {
    width: 28px;
  }
}

// Commented code blocks, need proper styling
.sidebyside {
  display: block;
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;
    background-color: #f0f0f0;
    display: block;
    z-index: 0;
  }
  .description {
    width: 50%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .highlight {
    width: 49%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    height: 100%;
    z-index: 1;
    position: relative;
  }
  .highlight pre {
    margin: 0;
  }
}

@media screen and (min-width: 25em) {
  header, footer {
    padding: 2em 2em;
  }
  .main-content {
    padding: 2em 2em;
  }
}
@media screen and (min-width: 42.5em) {
  header, footer {
    padding: 2em 3em;
  }
  .main-content {
    padding: 2em 3em;
  }
}