<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include nav.html %}
      <div class="parallax">
        {% include header.html %}
        <div class="parallax__layer parallax__layer--level1"></div>
        <div class="parallax__layer parallax__layer--level2"></div>
        <div class="parallax__layer parallax__layer--level3"></div>
        <div class="main-content">

          {{ content }}

        </div>

        {% include footer.html %}
      </div>
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script>
        $('button').click(function() {
          $(this).toggleClass('expanded').siblings('div').slideToggle();
        });
      </script>
    </body>
</html>
